#listUl { 
    position: relative;
}

ul li {
    padding: 5px 5px 5px 30px;
    line-height: 26px;
    font-weight: semi-bold;
    cursor: pointer;
    font-size: 20px;
}

ul li::before {
    content: '';
    height: 30px;
    width: 30px;
    background-image: url(/images/unchecked.png);
    background-size: cover;
    display: inline-flex;
    position: absolute;
    left: 10px;
    background-repeat: no-repeat;
    align-items: center;
}
ul li.checked{
    color: #FF5861;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('/images/check.png');
}
ul li span{
    height: 30px;
    width: 30px;
    background-size: cover;
    position: absolute;
    right: 10px;
    top: 20px;
    text-align: center;
    border-radius: 50%;
    font-size: 26px;
}
ul li span:hover{
    background-color:#ff5861;
    color: white;
}